* {
  margin: 0;
  padding: 0;
}

@media (orientation: portrait) {
  .App {
    font-size: 9vw;
  }
}

@media (orientation: landscape) {
  .App {
    font-size: 10vh;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: #fff;
  height: 100vh;
  width: 100vw;
}
/* Header styles */
.header {
  font-size: 2.75vh;
  letter-spacing: .34em;
  text-align: center;
  margin: 17.25vh 0 13.375vh;
}